.container {
  display: flex;
  flex-direction: column;
  height: 90vh;
}
.container-favorites {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #f0f0f0;
    height: 50%;
  }
  
  .favorites-title {
    margin: 0;
    font-size: 2rem;
    color: #333;
  }
  
  .favorites-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    height: 50%;
    border: 1px solid red;
  }