.weather-card {
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
    max-height: 400px;
  }
  .weather-card-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .weather-remove-button{
    border: 1px solid #248bf8;
    border-radius: 50%;
    padding: 10px 15px;
    position: relative;
    bottom: 10px;
    color:#248bf8;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    background-color: #dbecff;
  }

  .go-to-forecast{
    margin: 10px 0px;
    padding: 10px 0px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #83bbf5;
    color:white;
  }

  .add-to-favorites-button {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    }
  
  .weather-card h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .weather-card img {
    width: 80px;
    height: 80px;
  }
  
  .weather-card p {
    font-size: 16px;
    margin: 8px 0;
    color: #555;
  }
  
  .weather-card p:first-child {
    margin-top: 15px;
  }
  
  .weather-card p:last-child {
    margin-bottom: 0;
  }