.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, #83a4d4, #b6fbff);
  }
.container-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #c3fcff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100vw;
    margin-top: 5%;
  }
  
  .forecasts-message{
    color: white;
    font-size: 2rem;
    position: relative;
    top:40px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .weather-item {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-around;
    border: 1px solid #b6cff5;
    border-radius: 20px;
    width: 60%;
    cursor: pointer;
    background-color: #92b5ea;
    color: white;
    font-size: 1.5rem;
  }
  
  .weather-item img {
    width: 50px;
    height: 50px;
  }